h1 {
  color: $white;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 120%;
}

p {
  color: $white;
  font-family: "Lato";
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 150%;
}
